html, body {
    height: 100%;
    background-color: #D1C8E1;
    color: #453750;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body {
    font-family: 'Satoshi', sans-serif;
}

h1 {
    font-family: 'Clash Display', sans-serif;
}

h2, h3 {
    font-weight: 700;
}

p {
    text-justify: auto;
}

header {
    text-align: center;
}

.hide {
    visibility: hidden;
}

.left-side, .right-side {
    width: 48%
}

#question {
    font-weight: bold;
}

label {
    display: block;
}

.answer-options {
    background-color: #F5F5F5;
    color: #453750; 
}

.answer-options:hover {
    background-color: #453750;
    color: #F5F5F5;
}

.answer-options:disabled {
    background-color: #E1E1E1;
}

#instructions-content {
    display: none;
}