
html {
    height: 100%;
}

body {
    font-family: 'Satoshi', sans-serif;
}

h1 {
    font-family: 'Clash Display', sans-serif;
}

h2, h3 {
    font-weight: 700;
}

p {
    text-justify: auto;
}

header {
    text-align: center;
}

.hide {
    visibility: hidden;
}

#left-side, #right-side {
    width: 48%;
}

#question {
    font-weight: bold;
}